<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="./logout">Logout</a></li>
                <li><a href="./makeproject">make project</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>profile</h2>
        <p>ここはユーザープロフィールページ🥸 {{ name }}</p>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <label for="profile_image">プロフィール画像を変更:</label>
        <input type="file" name="profile_image" accept="image/*">
        <button type="submit">更新</button>
    </form>
    
    <img src="{{ url_for('uploads', filename=profile_image) }}" alt="Profile Image" width="100" height="100">
    <h3>Your Projects</h3>
    {% if projects %}
        <ul>
            {% for project in projects %}
                <li>
                    <strong><a href='{{ url_for("project_detail", project_id=project.id) }}'>{{ project.name }}</a></strong><br>
                    作成日時: {{ project.date_posted.strftime('%Y-%m-%d %H:%M') }}<br>
                    Description: {{ project.description }}<br>
                    Tags: {{ project.tags | join(", ") }}<br>
                    {% if project.latest_commit.commit_image %}
                        <img src="{{ url_for('uploads', filename=project.latest_commit.commit_image.split('/')[-1]) }}" alt="Latest Commit Image" width="100"><br>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no projects yet.</p>
    {% endif %}
</body>
</html>