<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
                <li><a href="./logout">Logout</a></li>
            {% else %}
                <li><a href="./login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h2>Register</h2>
        <form method="POST" action="./register">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}<br>
                {{ form.submit() }}
            </p>
        </form>
    </div>
</body>
</html>